$color-bg: #edf2ec;
$color-bg-contacts: #d6e7d2;
$color-black: #000000;
$color-tx-green:#499A18;
$color-tx-brown:#E06733;
$color-tx-lgray:#717171;
$color-tx-dgray:#636060;
$color-nav: #010201;
$color-border: #e3e1d5;
$color-bg-btn: #aea1a1;
$color-bg-btn-light: #d9d9d9;

@mixin tablet {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 650px) {
    @content;
  }
}

@mixin wrapper {
	display: flex;
	max-width: 1440px;
	padding-left:109px;
	padding-right:109px;
	margin: 0 auto;
	justify-content: space-between;
  
  @include tablet {
    padding-left: 50px;
	  padding-right: 50px;
  } 

  @include mobile {
    padding-left: 25px;
	  padding-right: 25px;
  }
}

@mixin btn-dropdown {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
}

* {
  margin: 0; 
  padding: 0;
	box-sizing: border-box;	
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.header {
  height: 134px;
  background-color: $color-bg;

  @include tablet {
    height: 117px;
  }

  @include mobile {
    height: 96px;
  }

  &__wrapper {
    @include wrapper;

    .logo {
      display: flex;
      justify-content: flex-start;
      padding-top: 52px;
      @include tablet {
        padding-top: 45px;
      }

      @include mobile {
        padding-top: 36px;
      }


      &__title {
        font-family: 'Inika';
        font-weight: 400;
        font-size: 16px;
        color: $color-black;
        padding-top: 5px;
      }

    }

    .nav {
      padding-top: 42px;
      width: 452px;
      line-height: 50px;
      color: $color-nav;
      
      @include tablet {
        padding-top: 35px;
      }

      @include mobile {
        visibility: hidden;
      }
    

      &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        font-family: 'Inika';
        font-weight: 400;
        font-size: 16px;

        li:first-child {
          color: $color-tx-brown;
          font-weight: 700;
        }

        li {
          transition: transform 0.5s;
        }

        li:hover {
          transform: scale(1.1);
        }
      }

      a:visited {
        color: inherit;
      }
      
      a:link {
        color: inherit;
      }       
    }
  }
}

.welcome {
  height: 532px;
  background-color: $color-bg;

  @include tablet {
    height: auto;
  }

  &__wrapper {

    @include wrapper;
    padding-top: 62px;

    @include tablet {
      padding-top: 40px;
      padding-bottom: 70px;
      flex-direction: row-reverse;
    } 
    
    @include mobile {
      padding-top: 24px;
      padding-bottom: 24px;
    } 
  }

  &__image {
    width: 449px;
    height: 407px;

    @include tablet {
      width: 42%;
      height: auto;
    }

    @include mobile {
      display: none;
    }

    img {
      transform: translate(-10px, -10px);

      @include tablet {
        width: 100%;
        transform: translate(0px, 0px);
        // object-fit: contain;
      }
    }
  }

  .welcome-content {
    padding-top: 36px;
    width: 549px;

    @include tablet() {
      padding-top: 0px;
      width: 52%;
    }

    @include mobile() {
      width: 100%;
    }

    &__title {
      font-family: 'Inter';
      font-weight: 700;
      color: $color-tx-lgray;
      font-size: 45px;
      line-height: 50px;

      @include tablet {
        font-size: 35px;
      }

      @include mobile {
        font-size: 25px;
        line-height: 35px;
      }

      & span {
        color: $color-tx-green;
      }
    }

    &__text {
      font-family: 'Inter';
      font-weight: 400;
      color: $color-tx-dgray;
      font-size: 20px;
      line-height: 35px;
      margin-top: 42px;

      @include tablet {
        font-size: 16px;
        line-height: 25px;
        margin-top: 30px;
        padding-left: 5px;
      }

      @include mobile {
        margin-top: 20px;
        padding-left: 0px;
      }
    }

    &__button {
      display: flex;
      font-family: 'Inter';
      font-weight: 400;
      font-size: 16px;
      color: $color-black;
      width: 158px;
      height: 44px;
      border: 2px solid $color-tx-brown;
      border-radius: 10px;
      margin-top: 48px;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;

      &:hover {
        background-color: $color-tx-brown;
        color: white;
      }

      @include tablet {
        margin-top: 35px;
      }

      @include mobile() {
        margin-top: 28px;
        width: 100px;
        height: 34px;
        font-size: 10px;
      }
    }    
  }  
}

.about {
  height: 666px;

  @include tablet() {
    height: auto;
    padding-bottom: 95px;
  }
  @include mobile() {
    padding-bottom: 0px;
  }
  
  &__wrapper {
    @include wrapper;
    padding-top: 93px;

    @include tablet() {
      flex-direction: column;
      padding-top: 0px;
      align-items: center;
    }

    @include mobile() {
      padding-top: 30px;
      padding-bottom: 22px;
    }

    .about-content {
      padding-top: 68px;
      @include tablet() {
        padding-top: 40px;
      }

      @include mobile() {
        padding-top: 0;
      }

      &__title {
        width: 463px;
        font-family: 'Inika';
        font-weight: 400;
        font-size: 40px;
        color: $color-tx-green;
        line-height: 52px;

        @include tablet() {
          width: 63%;
          font-size: 35px;
          text-align: center;
          line-height: 46px;
          margin-left: auto;
          margin-right: auto;
        }

        @include mobile() {
          width: 100%;
          font-size: 25px;
          line-height: 32px;
        }
        
        span { 
          color: $color-tx-brown;
        }
      }

      &__text {
        width: 605px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: $color-tx-dgray;
        margin-top: 38px;

        @include tablet() {
          width: 100%;
          margin-top: 50px;
        }

        @include mobile() {
          margin-top: 16px;
          font-size: 15px;
          line-height: 25px;
        }
      }
    }

    .about-image {
      @include tablet() {
        margin-top: 65px;
        width: 37.5%;
      }

      @include mobile() {
        margin-top: 0;
        width: 45.5%;
      }

      img {
        @include tablet() {
          width: 100%;
        }
      }
    }
  }
}

.service {
  height: 1300px;
  background-color: $color-bg;

  @include tablet() {
    height: auto;
  }

  .service-wrapper {
    @include wrapper;
    display: block;

    @include tablet() {
      padding-top: 60px;
      padding-bottom: 70px;
    }

    @include mobile() {
      padding-top: 30px;
      padding-bottom: 28px;
    }

    .title-buttons-box {
      display: flex;
      padding-top: 40px;

      @include tablet() {
        padding-top: 0px;
        flex-direction: column;
      }

      .service-title {
        width: 306px;
        font-family: 'Inika';
        font-weight: 400;
        font-size: 40px;
        color: $color-tx-green;
        line-height: 52px;

        @include tablet() {
          font-size: 35px;
          line-height: 45.6px;
        }

        @include mobile() {
          width: 187px;
          font-size: 25px;
          line-height: 32.6px;
        }
      }

      .service-buttons {
        margin-left: 142px;
        margin-top: 29px;
        // width: 559px;
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;

        @include tablet() {
          margin-left: 0;
          margin-top: 40px;
        }

        @include mobile() {
          margin-top: 29px;
          justify-content: flex-start;
        }

        &__button {
          width: 161px;
          height: 50px;
          border: 1px solid $color-tx-brown;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Inika';
          font-weight: 400;
          font-size: 20px;
          line-height: 26px;
          color: $color-tx-brown;
          text-decoration: none;
          transition: all 0.3s;
          margin-right: 38px;

          &:hover {
            background-color: $color-tx-brown;
            color: white;
          }

          @include mobile() {
            width: 121px;
            height: 35px;
            font-size: 15px;
            line-height: 25px;
            margin-top: 9px;
            margin-right: 10px;
          }
        }
      }
    }

    .service-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      margin-top: 80px;
      height: 955px;

      @include tablet() {
        margin-top: 2px;
        height: auto;
        // align-self: center;
        // margin-left: auto;
        // margin-right: auto;
      }

      @include mobile() {
        justify-content: center;
        margin-top: 6px;
      }

      

      

      .service-card {
        display: flex;
        flex-direction: column;
        width: 330px;
        height: 450px;
        border-radius: 20px;

        @include tablet() {
          width: 280px;
          margin-top: 38px;
        }

        @include mobile() {
          margin-top: 34px;
        }

        

        img {
          width: 100%;
          height: 350px;
          object-fit: cover;
          border-radius: 20px 20px 0 0;
        }

        // @include tablet() {
        //   width: 281px;
        // }

        &__text {
          width: 100%;
          height: 100px;
          border: 1px solid $color-border;
          border-radius: 0 0 20px 20px;
        }

        &__title {
          font-family: 'Inter';
          font-weight: 700;
          font-size: 20px;
          line-height: 20px;
          color: $color-tx-brown;
          padding-top: 10px;
          text-align: center;
        }

        &__descr {
          font-family: 'Inter';
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: $color-tx-lgray;
          margin-top: 14px;
          text-align: center;

          @include tablet() {
            width: 201px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}

.prices {
  height: 560px;

  @include tablet() {
    height: auto
  }

  .prices-wrapper {
    @include wrapper();
    padding-top: 42px;
    padding-bottom: 88px;
    flex-wrap: wrap;

    @include mobile() {
      padding-top: 25px;
      padding-bottom: 40px;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
    }

    .prices-list-box {
      @include mobile() {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .prices-title {
      font-family: 'Inter';
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      color: $color-black;

      @include tablet() {
        padding-left: 15px;
        font-size: 35px;
        line-height: 42px;
      }

      @include mobile() {
        font-size: 25px;
        line-height: 30px;
        padding-left: 0;
      }
    }

    .prices-list {
      width: 332px;
      height: 282px;
      border: 1px solid $color-border;
      border-radius: 20px;
      margin-top: 60px;
      padding: 34px 41px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include tablet() {
        margin-top: 56px;
      }

      @include mobile() {
        width: 224px;
        height: 235px;
        margin-top: 36px;
        padding: 29px 22px;
      }

      &__item {
        list-style-type: none;
        background: $color-bg;
        border-radius: 20px;
        width: 250px;
        height: 50px;        
        padding: 16px 40px;
        display: flex;
        justify-content: space-between;
        transition: transform 0.3s;

        @include mobile() {
          width: 180px;
          padding: 16px 40px 16px 30px;
        }

        .item-text {
          font-family: 'Inter';
          font-weight: 700;
          font-size: 20px;
          line-height: 20px;
          color: $color-black;

          @include mobile() {
            font-size: 15px;
          }
        }

    

        .item-btn {
          @include btn-dropdown;
          background-color: $color-bg-btn-light;

          @include mobile() {
            align-self: flex-end;
          }


          span {
            color: $color-tx-lgray;
            font-size: 10px;
          }
        }

        &:hover {
          cursor:pointer;
          transform: translateY(-2px);
        }
      }    
    }

    .prices-help {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @include tablet() {
        padding-top: 100px;
      }

      @include mobile() {
        padding-top: 0px;
        margin-top: 19px;
        align-items: center;
      }

      .prices-subtitle {
        width: 452px;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        text-align: right;
        
        span {
          color: $color-tx-green;
        }

        @include tablet() {
          width: 297px;
          font-size: 25px;
          line-height: 35px;
        }

        @include mobile() {
          width: 230px;
          font-size: 20px;
          line-height: 35px;
          text-align: center;
        }

       
      }

      .prices-button {
        width: 162px;
        height: 50px;
        border: 1px solid $color-tx-brown;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Inika';
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: $color-tx-brown;
        text-decoration: none;
        margin-top: 38px;
        padding-right: 3px;
        transition: all 0.3s;

        &:hover {
          background-color: $color-tx-brown;
          color: white;
          cursor: pointer;
        }

        @include tablet() {
          margin-top: 27px;
        }

        @include mobile() {
          margin-top: 22px;
          width: 121px;
          height: 35px;
          font-size: 15px;
          line-height: 20px;
        }


      }

      .prices-image {
        margin-top: 35px;
        transform: translateX(9px);

        @include tablet() {
          margin-top: 34px;
          width: 155px;
          transform: translateX(0px);
          object-fit: contain;
        }

        @include mobile() {
          display: none;
        }
      }
    
    }
  }
}

.contacts {
  height: 550px;
  background-color: $color-bg;

  @include tablet() {
    height: auto;
  }

  .contacts-wrapper {
    @include wrapper;

    @include tablet() {
      flex-direction: column-reverse;
      align-items: center;

    }

    @include mobile() {
      padding-top: 25px;
    }


    .contacts-woman {
      padding-top: 53px;

      @include tablet() {
        width: 30%;
        padding-top: 0;
        margin-top: 250px;
        transform: translateX(10px);
      }

      @include mobile() {
        margin-top: 134px;
        transform: translateX(0);
      }
    }

    .contacts-content {
      display: flex;
      flex-direction: column;
      width: 709px;
      padding-top: 58px;

      @include tablet() {
        padding-top: 40px;
        align-items: center;
        width: 100%;
      }

      @include mobile() {
        padding-top: 0;
      }

      .contacts-title {
        font-family: 'Inika';
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        color: $color-tx-green;   

        @include mobile() {
          font-size: 25px;
          line-height: 33px;
        }
        
      }
  
      .contacts-city-box {
        width: 450px;
        height: 50px;
        margin-top: 37px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 35px;
        background: $color-bg-contacts;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: transform 0.3s;
        align-self: flex-end;

        @include tablet() {
          margin-top: 100px;
          width: 67%;
          align-self: center;
        }

        @include mobile() {
          margin-top: 80px;
          width: 91%;
          padding-right: 20px;
          
        }
  
        &:hover {
          cursor: pointer;
          transform: translateY(-2px);
        }
  
        .contacts-city {
          font-family: 'Inter';
          font-weight: 400;
          font-size: 20px;
          line-height: 40px;
          letter-spacing: 1px;
          color: $color-tx-lgray;
        }
  
        .contacts-city-btn {
          @include btn-dropdown;
          background-color: $color-bg-btn;
      
          span {
            color: white;
            font-size: 10px;
          }
        }
      }


    }

   
  }
}

.footer {
  height: 130px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: $color-black;

  @include tablet() {
    height: auto;
    line-height: 24px;
  }

  .footer-wrapper {
    @include wrapper;
    height: 100%;
    align-items: center;

    @include tablet() {
      flex-direction: column;
      padding-top: 33px;
      padding-bottom: 28px;
    }

    @include mobile() {
      padding-top: 22px;
      padding-bottom: 10px;
    }

    .footer-author {
      width: 182px;
      display: flex;
      justify-content: space-between;
      align-items: center;
     
   
    }

    .footer-school {
      @include tablet() {
        margin-top: 16px;
      }
      
    }

    a {
      transition: color 0.3s;
    }


    a:visited {
      color: inherit;
    }

    a:hover {
      color: $color-tx-green;
    }

    .footer-links {
      width: 188px;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;

      @include tablet() {
        margin-top: 24px;
      }

      @include mobile() {
        margin-top: 12px;
      }

      li {
        height: 32px;
        transition: transform 0.3s;
      }

      li:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}

