* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.header {
  height: 134px;
  background-color: #edf2ec;
}
@media screen and (max-width: 1200px) {
  .header {
    height: 117px;
  }
}
.header__wrapper {
  display: flex;
  max-width: 1440px;
  padding-left: 109px;
  padding-right: 109px;
  margin: 0 auto;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .header__wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.header__wrapper .logo {
  display: flex;
  justify-content: flex-start;
  padding-top: 52px;
}
@media screen and (max-width: 1200px) {
  .header__wrapper .logo {
    padding-top: 45px;
  }
}
.header__wrapper .logo__title {
  font-family: "Inika";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding-top: 5px;
}
.header__wrapper .nav {
  padding-top: 42px;
  width: 452px;
  line-height: 50px;
  color: #010201;
}
@media screen and (max-width: 1200px) {
  .header__wrapper .nav {
    padding-top: 35px;
  }
}
.header__wrapper .nav__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-family: "Inika";
  font-weight: 400;
  font-size: 16px;
}
.header__wrapper .nav__list li:first-child {
  color: #E06733;
  font-weight: 700;
}
.header__wrapper .nav__list li {
  transition: transform 0.5s;
}
.header__wrapper .nav__list li:hover {
  transform: scale(1.1);
}
.header__wrapper .nav a:visited {
  color: inherit;
}
.header__wrapper .nav a:link {
  color: inherit;
}

.welcome {
  height: 532px;
  background-color: #edf2ec;
}
@media screen and (max-width: 1200px) {
  .welcome {
    height: auto;
  }
}
.welcome__wrapper {
  display: flex;
  max-width: 1440px;
  padding-left: 109px;
  padding-right: 109px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 62px;
}
@media screen and (max-width: 1200px) {
  .welcome__wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .welcome__wrapper {
    padding-top: 40px;
    padding-bottom: 70px;
    flex-direction: row-reverse;
  }
}
.welcome__image {
  width: 449px;
  height: 407px;
}
@media screen and (max-width: 1200px) {
  .welcome__image {
    width: 42%;
    height: auto;
  }
}
.welcome__image img {
  transform: translate(-10px, -10px);
}
@media screen and (max-width: 1200px) {
  .welcome__image img {
    width: 100%;
  }
}
.welcome .welcome-content {
  padding-top: 36px;
  width: 549px;
}
@media screen and (max-width: 1200px) {
  .welcome .welcome-content {
    padding-top: 0px;
    width: 52%;
  }
}
.welcome .welcome-content__title {
  font-family: "Inter";
  font-weight: 700;
  color: #717171;
  font-size: 45px;
  line-height: 50px;
}
@media screen and (max-width: 1200px) {
  .welcome .welcome-content__title {
    font-size: 35px;
  }
}
.welcome .welcome-content__title span {
  color: #499A18;
}
.welcome .welcome-content__text {
  font-family: "Inter";
  font-weight: 400;
  color: #636060;
  font-size: 20px;
  line-height: 35px;
  margin-top: 42px;
}
@media screen and (max-width: 1200px) {
  .welcome .welcome-content__text {
    font-size: 16px;
    line-height: 25px;
    margin-top: 30px;
  }
}
.welcome .welcome-content__button {
  display: flex;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  width: 158px;
  height: 44px;
  border: 2px solid #E06733;
  border-radius: 10px;
  margin-top: 48px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.welcome .welcome-content__button:hover {
  background-color: #E06733;
  color: white;
}
@media screen and (max-width: 1200px) {
  .welcome .welcome-content__button {
    margin-top: 30px;
  }
}

.about {
  height: 666px;
}
.about__wrapper {
  display: flex;
  max-width: 1440px;
  padding-left: 109px;
  padding-right: 109px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 93px;
}
@media screen and (max-width: 1200px) {
  .about__wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.about__wrapper .about-content {
  padding-top: 68px;
}
.about__wrapper .about-content__title {
  width: 463px;
  font-family: "Inika";
  font-weight: 400;
  font-size: 40px;
  color: #499A18;
  line-height: 52px;
}
.about__wrapper .about-content__title span {
  color: #E06733;
}
.about__wrapper .about-content__text {
  width: 605px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
  margin-top: 38px;
}

.service {
  height: 1300px;
  background-color: #edf2ec;
}
.service .service-wrapper {
  display: flex;
  max-width: 1440px;
  padding-left: 109px;
  padding-right: 109px;
  margin: 0 auto;
  justify-content: space-between;
  display: block;
}
@media screen and (max-width: 1200px) {
  .service .service-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.service .service-wrapper .title-buttons-box {
  display: flex;
  padding-top: 40px;
}
.service .service-wrapper .title-buttons-box .service-title {
  width: 306px;
  font-family: "Inika";
  font-weight: 400;
  font-size: 40px;
  color: #499A18;
  line-height: 52px;
}
.service .service-wrapper .title-buttons-box .service-buttons {
  margin-left: 142px;
  padding-top: 29px;
  width: 559px;
  display: flex;
  justify-content: space-between;
}
.service .service-wrapper .title-buttons-box .service-buttons__button {
  width: 161px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inika";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  text-decoration: none;
  transition: all 0.3s;
}
.service .service-wrapper .title-buttons-box .service-buttons__button:hover {
  background-color: #E06733;
  color: white;
}
.service .service-wrapper .service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 80px;
  height: 955px;
}
.service .service-wrapper .service-cards .service-card {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 450px;
  border-radius: 20px;
}
.service .service-wrapper .service-cards .service-card__text {
  width: 100%;
  height: 100px;
  border: 1px solid #e3e1d5;
  border-radius: 0 0 20px 20px;
}
.service .service-wrapper .service-cards .service-card__title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
  padding-top: 10px;
  text-align: center;
}
.service .service-wrapper .service-cards .service-card__descr {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  margin-top: 14px;
  text-align: center;
}

.prices {
  height: 560px;
}
.prices .prices-wrapper {
  display: flex;
  max-width: 1440px;
  padding-left: 109px;
  padding-right: 109px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 40px;
}
@media screen and (max-width: 1200px) {
  .prices .prices-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.prices .prices-wrapper .prices-title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
.prices .prices-wrapper .prices-list {
  width: 332px;
  height: 282px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  margin-top: 60px;
  padding: 34px 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.prices .prices-wrapper .prices-list__item {
  list-style-type: none;
  background: #edf2ec;
  border-radius: 20px;
  width: 250px;
  height: 50px;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  transition: transform 0.3s;
}
.prices .prices-wrapper .prices-list__item .item-text {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}
.prices .prices-wrapper .prices-list__item .item-btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  background-color: #d9d9d9;
}
.prices .prices-wrapper .prices-list__item .item-btn span {
  color: #717171;
  font-size: 10px;
}
.prices .prices-wrapper .prices-list__item:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
.prices .prices-wrapper .prices-help {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.prices .prices-wrapper .prices-help .prices-subtitle {
  width: 452px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
}
.prices .prices-wrapper .prices-help .prices-subtitle span {
  color: #499A18;
}
.prices .prices-wrapper .prices-help .prices-button {
  width: 162px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inika";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  text-decoration: none;
  margin-top: 38px;
  padding-right: 3px;
  transition: all 0.3s;
}
.prices .prices-wrapper .prices-help .prices-button:hover {
  background-color: #E06733;
  color: white;
  cursor: pointer;
}
.prices .prices-wrapper .prices-help .prices-image {
  margin-top: 35px;
  transform: translateX(9px);
}

.contacts {
  height: 550px;
  background-color: #edf2ec;
}
.contacts .contacts-wrapper {
  display: flex;
  max-width: 1440px;
  padding-left: 109px;
  padding-right: 109px;
  margin: 0 auto;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .contacts .contacts-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.contacts .contacts-wrapper .contacts-woman {
  padding-top: 53px;
}
.contacts .contacts-wrapper .contacts-title {
  font-family: "Inika";
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin-top: 60px;
  padding-left: 43px;
}
.contacts .contacts-wrapper .contacts-city-box {
  width: 450px;
  height: 50px;
  margin-top: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 35px;
  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s;
}
.contacts .contacts-wrapper .contacts-city-box:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
.contacts .contacts-wrapper .contacts-city-box .contacts-city {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #717171;
}
.contacts .contacts-wrapper .contacts-city-box .contacts-city-btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  background-color: #aea1a1;
}
.contacts .contacts-wrapper .contacts-city-box .contacts-city-btn span {
  color: white;
  font-size: 10px;
}

.footer {
  height: 130px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}
.footer .footer-wrapper {
  display: flex;
  max-width: 1440px;
  padding-left: 109px;
  padding-right: 109px;
  margin: 0 auto;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .footer .footer-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.footer .footer-wrapper .footer-author {
  width: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-wrapper a {
  transition: color 0.3s;
}
.footer .footer-wrapper a:visited {
  color: inherit;
}
.footer .footer-wrapper a:hover {
  color: #499A18;
}
.footer .footer-wrapper .footer-links {
  width: 188px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}
.footer .footer-wrapper .footer-links li {
  height: 32px;
  transition: transform 0.3s;
}
.footer .footer-wrapper .footer-links li:hover {
  transform: scale(1.1);
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */