$color-bg: #edf2ec;
$color-bg-contacts: #d6e7d2;
$color-black: #000000;
$color-tx-green:#499A18;
$color-tx-brown:#E06733;
$color-tx-lgray:#717171;
$color-tx-dgray:#636060;
$color-nav: #010201;
$color-border: #e3e1d5;
$color-bg-btn: #aea1a1;
$color-bg-btn-light: #d9d9d9;

@mixin wrapper {
	display: flex;
	max-width: 1440px;
	padding-left:109px;
	padding-right:109px;
	margin: 0 auto;
	justify-content: space-between;	
}

@mixin btn-dropdown {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
}

* {
  margin: 0; 
  padding: 0;
	box-sizing: border-box;	
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.header {
  height: 134px;
  background-color: $color-bg;

  &__wrapper {
    @include wrapper;
    padding-left:111px;
    // align-items: flex-end;

    .logo {
      display: flex;
      justify-content: flex-start;
      padding-top: 52px;


      &__title {
        font-family: 'Inika';
        font-weight: 400;
        font-size: 16px;
        color: $color-black;
        padding-top: 5px;
      }

    }

    .nav {
      padding-top: 42px;
      width: 452px;
      line-height: 50px;
      color: $color-nav;
      // display: flex;
      // align-items: center;

      &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        font-family: 'Inika';
        font-weight: 400;
        font-size: 16px;

        li:first-child {
          color: $color-tx-brown;
          font-weight: 700;
        }
      }
    }
  }
}

.welcome {
  height: 532px;
  background-color: $color-bg;

  &__wrapper {
    @include wrapper;
    padding-top: 62px;        
  }

  &__image {
    width: 449px;
    height: 407px;

    img {
      transform: translate(-10px, -10px);
    }
  }

  .welcome-content {
    padding-top: 36px;
    width: 549px;

    &__title {
      font-family: 'Inter';
      font-weight: 700;
      color: $color-tx-lgray;
      font-size: 45px;
      line-height: 50px;

      & span {
        color: $color-tx-green;
      }
    }

    &__text {
      font-family: 'Inter';
      font-weight: 400;
      color: $color-tx-dgray;
      font-size: 20px;
      line-height: 35px;
      margin-top: 42px;
    }

    &__button {
      display: flex;
      font-family: 'Inter';
      font-weight: 400;
      font-size: 16px;
      color: $color-black;
      width: 158px;
      height: 44px;
      border: 2px solid $color-tx-brown;
      border-radius: 10px;
      margin-top: 48px;
      text-decoration: none;
      justify-content: center;
      align-items: center;
    }
  }  
}

.about {
  height: 666px;
  
  &__wrapper {
    @include wrapper;
    padding-top: 93px;

    .about-content {
      padding-top: 68px;

      &__title {
        width: 463px;
        font-family: 'Inika';
        font-weight: 400;
        font-size: 40px;
        color: $color-tx-green;
        line-height: 52px;
        
        span { 
          color: $color-tx-brown;
        }
      }

      &__text {
        width: 605px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: $color-tx-dgray;
        margin-top: 38px;
      }
    }
  }
}

.service {
  height: 1300px;
  background-color: $color-bg;

  .service-wrapper {
    @include wrapper;
    display: block;

    .title-buttons-box {
      display: flex;
      padding-top: 40px;

      .service-title {
        width: 306px;
        font-family: 'Inika';
        font-weight: 400;
        font-size: 40px;
        color: $color-tx-green;
        line-height: 52px;
      }

      .service-buttons {
        margin-left: 142px;
        padding-top: 29px;
        width: 559px;
        display: flex;
        justify-content: space-between;

        &__button {
          width: 161px;
          height: 50px;
          border: 1px solid $color-tx-brown;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Inika';
          font-weight: 400;
          font-size: 20px;
          line-height: 26px;
          color: $color-tx-brown;
          text-decoration: none;
        }
      }
    }

    .service-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      margin-top: 80px;
      height: 955px;

      .service-card {
        display: flex;
        flex-direction: column;
        width: 330px;
        height: 450px;
        border-radius: 20px;

        &__text {
          width: 100%;
          height: 100px;
          border: 1px solid $color-border;
          border-radius: 0 0 20px 20px;
        }

        &__title {
          font-family: 'Inter';
          font-weight: 700;
          font-size: 20px;
          line-height: 20px;
          color: $color-tx-brown;
          padding-top: 10px;
          text-align: center;
        }

        &__descr {
          font-family: 'Inter';
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: $color-tx-lgray;
          margin-top: 14px;
          text-align: center;
        }
      }
    }
  }
}

.prices {
  height: 560px;

  .prices-wrapper {
    @include wrapper;
    padding-top: 40px;

    .prices-title {
      font-family: 'Inter';
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      color: $color-black;
    }

    .prices-list {
      width: 332px;
      height: 282px;
      border: 1px solid $color-border;
      border-radius: 20px;
      margin-top: 60px;
      padding: 34px 41px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__item {
        list-style-type: none;
        background: $color-bg;
        border-radius: 20px;
        width: 250px;
        height: 50px;        
        padding: 16px 40px;
        display: flex;
        justify-content: space-between;

        .item-text {
          font-family: 'Inter';
          font-weight: 700;
          font-size: 20px;
          line-height: 20px;
          color: $color-black;
        }

        .item-btn {
          @include btn-dropdown;
          background-color: $color-bg-btn-light ;

          span {
            color: $color-tx-lgray;
            font-size: 10px;
          }
        }
      }    
    }

    .prices-help {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .prices-subtitle {
        width: 452px;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        text-align: right;
        
        span {
          color: $color-tx-green;
        }
      }

      .prices-button {
        width: 162px;
        height: 50px;
        border: 1px solid $color-tx-brown;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Inika';
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: $color-tx-brown;
        text-decoration: none;
        margin-top: 38px;
        padding-right: 3px;
      }

      .prices-image {
        margin-top: 35px;
        transform: translateX(9px);
      }
    
    }
  }
}

.contacts {
  height: 550px;
  background-color: $color-bg;

  .contacts-wrapper {
    @include wrapper;

    .contacts-woman {
      padding-top: 53px;
    }

    .contacts-title {
      font-family: 'Inika';
      font-weight: 700;
      font-size: 40px;
      line-height: 52px;
      color: $color-tx-green;
      margin-top: 60px;
      padding-left: 43px;     

    }

    .contacts-city-box {
      width: 450px;
      height: 50px;
      margin-top: 148px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      padding-right: 35px;
      background: $color-bg-contacts;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      .contacts-city {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 1px;
        color: $color-tx-lgray;
      }

      .contacts-city-btn {
        @include btn-dropdown;
        background-color: $color-bg-btn;
    
        span {
          color: white;
          font-size: 10px;
        }
      }
    }
  }
}

.footer {
  height: 130px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: $color-black;

  .footer-wrapper {
    @include wrapper;
    height: 100%;
    align-items: center;


    .footer-author {
      width: 182px;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }  

    a:visited {
      color: inherit;
    }

    .footer-links {
      width: 188px;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;

      li {
        height: 32px;
      }

    }

  }

}
