* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.header {
  height: 134px;
  background-color: #edf2ec;
}
.header__wrapper {
  display: flex;
  max-width: 1440px;
  padding-left: 109px;
  padding-right: 109px;
  margin: 0 auto;
  justify-content: space-between;
  padding-left: 111px;
}
.header__wrapper .logo {
  display: flex;
  justify-content: flex-start;
  padding-top: 52px;
}
.header__wrapper .logo__title {
  font-family: "Inika";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding-top: 5px;
}
.header__wrapper .nav {
  padding-top: 42px;
  width: 452px;
  line-height: 50px;
  color: #010201;
}
.header__wrapper .nav__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-family: "Inika";
  font-weight: 400;
  font-size: 16px;
}
.header__wrapper .nav__list li:first-child {
  color: #E06733;
  font-weight: 700;
}

.welcome {
  height: 532px;
  background-color: #edf2ec;
}
.welcome__wrapper {
  display: flex;
  max-width: 1440px;
  padding-left: 109px;
  padding-right: 109px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 62px;
}
.welcome__image {
  width: 449px;
  height: 407px;
}
.welcome__image img {
  transform: translate(-10px, -10px);
}
.welcome .welcome-content {
  padding-top: 36px;
  width: 549px;
}
.welcome .welcome-content__title {
  font-family: "Inter";
  font-weight: 700;
  color: #717171;
  font-size: 45px;
  line-height: 50px;
}
.welcome .welcome-content__title span {
  color: #499A18;
}
.welcome .welcome-content__text {
  font-family: "Inter";
  font-weight: 400;
  color: #636060;
  font-size: 20px;
  line-height: 35px;
  margin-top: 42px;
}
.welcome .welcome-content__button {
  display: flex;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  width: 158px;
  height: 44px;
  border: 2px solid #E06733;
  border-radius: 10px;
  margin-top: 48px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.about {
  height: 666px;
}
.about__wrapper {
  display: flex;
  max-width: 1440px;
  padding-left: 109px;
  padding-right: 109px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 93px;
}
.about__wrapper .about-content {
  padding-top: 68px;
}
.about__wrapper .about-content__title {
  width: 463px;
  font-family: "Inika";
  font-weight: 400;
  font-size: 40px;
  color: #499A18;
  line-height: 52px;
}
.about__wrapper .about-content__title span {
  color: #E06733;
}
.about__wrapper .about-content__text {
  width: 605px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
  margin-top: 38px;
}

.service {
  height: 1300px;
  background-color: #edf2ec;
}
.service .service-wrapper {
  display: flex;
  max-width: 1440px;
  padding-left: 109px;
  padding-right: 109px;
  margin: 0 auto;
  justify-content: space-between;
  display: block;
}
.service .service-wrapper .title-buttons-box {
  display: flex;
  padding-top: 40px;
}
.service .service-wrapper .title-buttons-box .service-title {
  width: 306px;
  font-family: "Inika";
  font-weight: 400;
  font-size: 40px;
  color: #499A18;
  line-height: 52px;
}
.service .service-wrapper .title-buttons-box .service-buttons {
  margin-left: 142px;
  padding-top: 29px;
  width: 559px;
  display: flex;
  justify-content: space-between;
}
.service .service-wrapper .title-buttons-box .service-buttons__button {
  width: 161px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inika";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  text-decoration: none;
}
.service .service-wrapper .service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 80px;
  height: 955px;
}
.service .service-wrapper .service-cards .service-card {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 450px;
  border-radius: 20px;
}
.service .service-wrapper .service-cards .service-card__text {
  width: 100%;
  height: 100px;
  border: 1px solid #e3e1d5;
  border-radius: 0 0 20px 20px;
}
.service .service-wrapper .service-cards .service-card__title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
  padding-top: 10px;
  text-align: center;
}
.service .service-wrapper .service-cards .service-card__descr {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  margin-top: 14px;
  text-align: center;
}

.prices {
  height: 560px;
}
.prices .prices-wrapper {
  display: flex;
  max-width: 1440px;
  padding-left: 109px;
  padding-right: 109px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 40px;
}
.prices .prices-wrapper .prices-title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
.prices .prices-wrapper .prices-list {
  width: 332px;
  height: 282px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  margin-top: 60px;
  padding: 34px 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.prices .prices-wrapper .prices-list__item {
  list-style-type: none;
  background: #edf2ec;
  border-radius: 20px;
  width: 250px;
  height: 50px;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
}
.prices .prices-wrapper .prices-list__item .item-text {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}
.prices .prices-wrapper .prices-help {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.prices .prices-wrapper .prices-help .prices-subtitle {
  width: 452px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
}
.prices .prices-wrapper .prices-help .prices-subtitle span {
  color: #499A18;
}
.prices .prices-wrapper .prices-help .prices-button {
  width: 162px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inika";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  text-decoration: none;
  margin-top: 38px;
  padding-right: 3px;
}
.prices .prices-wrapper .prices-help .prices-image {
  margin-top: 35px;
  transform: translateX(9px);
}/*# sourceMappingURL=style.css.map */