$color-bg: #edf2ec;
$color-bg-contacts: #d6e7d2;
$color-black: #000000;
$color-tx-green:#499A18;
$color-tx-brown:#E06733;
$color-tx-lgray:#717171;
$color-tx-dgray:#636060;
$color-nav: #010201;

@mixin wrapper {
	display: flex;
	max-width: 1440px;
	padding-left:109px;
	padding-right:109px;
	margin: 0 auto;
	justify-content: space-between;	
}

* {
  margin: 0; 
  padding: 0;
	box-sizing: border-box;	
}

.header {
  height: 134px;
  background-color: $color-bg;

  &__wrapper {
    @include wrapper;
    padding-left:111px;
    // align-items: flex-end;

    .logo {
      display: flex;
      justify-content: flex-start;
      padding-top: 52px;


      &__title {
        font-family: 'Inika';
        font-weight: 400;
        font-size: 16px;
        color: $color-black;
        padding-top: 5px;
      }

    }

    .nav {
      padding-top: 42px;
      width: 452px;
      line-height: 50px;
      // display: flex;
      // align-items: center;

      &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
      }
    }
  }
}
